@import 'tailwindcss';

:root {
	font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
	line-height: 1.5;
	font-weight: 400;

	color-scheme: light dark;
	color: rgba(255, 255, 255, 0.87);
	background-color: #242424;

	font-synthesis: none;
	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

body {
	overflow: hidden;
	& > #root {
		height: 100dvh;
		width: 100dvw;
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
	}
}

#main-canvas {
	display: block;

	border-radius: 5px;
	max-width: calc(1280px - 10%);
	max-height: calc(720px - 10%);

	background-color: rgb(255, 255, 255);
	border: 2px solid rgb(0, 0, 0);
}

.button-dark {
	@apply bg-neutral-800 text-white font-bold py-2 transition-all cursor-pointer
		px-4 rounded hover:bg-neutral-700 disabled:bg-neutral-700 disabled:cursor-not-allowed;
}

.label-form {
	@apply flex flex-col justify-center items-center gap-2 text-sm font-semibold;
}
